@media(max-width: 768px) {
    button.full-width {
        width: 100%;
    }
}

div.progress-container p {
    padding-top: 1rem;
    margin-bottom: 0rem;
    margin-left: 0.3rem;
}


strong>h5 {
    margin-bottom: -1.3rem;
    padding-bottom: 0;
} 

.skill-display {
    margin-top: 35px;
    color: #050505;
}

.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-top: 15rem;
}

.gallery-carousel {
    margin-top: 2rem;
    padding: 0 0 0 0;
    height: auto;
    
    margin-bottom: 10rem;
}

.gallery-carousel-inner {
    width: 100%;
    height: 900px !important;
    overflow: visible;
}

.gallery-carousel-item {
    height: auto;
    object-fit: fill;
}

.gallery-carousel-caption {
    position: relative;
    height: auto;
    left: 0;
    top: 0;
}